<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>Vendor Registration</h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= image_tag('camp_expo_color.png', size: "200", class: "pull-right") %>
    </div>
  </div>

  <%= render 'form' %>
</div>