<style type:"text/css">
BODY
{
background-color: #deddd2;
}
</style>
<%= link_to("http://juliarobinsonmathfestival.org/") do %>
  <%= image_tag("jrmf-logo.png")%>
<% end %>
</br>
<h3>Math Plus Academy and the Past Foundation present...</h3>
<h2>The 2016 Columbus Julia Robinson Mathematics Festival</h2>
<h2>May 14th from 1pm - 4pm</h2>
</br>

<div class="description">
  The event's collaborative, non-competitive atmosphere offers an alternate setting for students to explore the joys and power of mathematics with other kids and older mentors.
  <br><br>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <strong>How it works:</strong><br />
      During the festival, students can join any table and work collaboratively with the volunteers and students there. Students are welcome to try out several tables until they find one that particularly interests them; once they do, they are encouraged to spend 30 &#8211; 45 minutes or more at that activity. Almost no activities will be possible to finish completely during the festival. Students will be able to take home activities that they have spent time on. There will also be a mathematical games area.
      We provide the mathematics and mathematicians to work with the students on the activities. Please bring an adult to provide supervision of your children/students. Admission for kids is $10; supervising adults are free. If you can't afford the fee, there is a checkbox at the bottom of the form to waive it.
      <br><br>
    </div>
    <div style="text-align:center;" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <iframe src="https://www.youtube.com/embed/Idow6vKyaXg?rel=0" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>
    </div>
  </div>
  <br><br>
  If you have any questions, please contact us at events@enrichcolumbus.org
</div>

<%= render 'festival_registration_form' %>
