<div class="container">
  <h1>Editing registration</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @registration, class: "btn btn-lg btn-primary" %>
  <%= link_to 'Back', registrations_path, class: "btn btn-lg btn-default" %>
</div>