<div class="container">
  <h1>New event</h1>

  <p style="color:red;">The cutoff for event submission is the 15th of the month before the event is scheduled. The list is then compiled and sent on the 20th of that month. For example, an event scheduled in March should be submitted by February 15th. You will not be able to add events for the following month if it is past the 15th of the month prior
  to the scheduled event.</p>

  <%= render 'form' %>

</div>