<div class="container admin_home">
  <h1>ENRICH Admin</h1>
  <div class='row'>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 admin_panel">
      <div class="panel_header">
        <h1>Add Event</h1>
      </div>
      <div class="panel_body">
        <%= link_to "New Event", new_event_path, class: "btn btn-success", style: 'margin: 40px 0 40px;' %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 admin_panel">
      <div class="panel_header">
        <h1>Add Newsletter</h1>
      </div>
      <div class="panel_body">
        <%= link_to "New Newsletter", new_newsletter_path, class: "btn btn-success", style: 'margin: 40px 0 40px;' %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 admin_panel">
      <div class="panel_header">
        <h1>View Newsletters</h1>
      </div>
      <div class="panel_body">
        <%= link_to  "Newsletters", newsletters_path, class: "btn btn-success", style: 'margin: 40px 0 40px;' %>
      </div>
    </div>
  </div>
</div>
