<div class="container">
  <div class="robotics_header row">
    <h1>2014 CORI Invitational</h1>
    <div class="chaulky">
      <h4>
        June 21st-22nd | Dublin Coffman High School | 6780 Coffman Road, Dublin, Ohio, 43017
      </h4>
    </div>
    <h2>Presents...</h2>

    <h1>Alpha</h1>
    <div class="chaulky">
      <h4>
        A LEGO robotics demo tournament.
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs info-column">
      <p>
        <strong>Join us</strong> June 21st from 1pm-3pm for an amazing introduction
        to robotics. Kids of all ages will be able to see what a good introduction
        to robotics looks like.
      </p>
    </br>
      <p>
        <strong>Watch</strong> elementary and middle school students compete in a
        race against the clock as they work solve real world problems. After the
        tournament check out what the
      </p>
    </div><!-- /.col-lg-6 .col-md-6 .col-sm-12 .col-xs-12 -->
    <div style="text-align:center" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2>Here's the build!</h2>
      </br>
      <p>
        <%= link_to "javascript:void(0)", class: "btn btn-lg btn-success" do %>
        <i class="fa fa-gears"></i> Build Instructions
        <% end %>
      </p>
    </br>

    </div><!-- /.col-lg-6 .col-md-6 .col-sm-12 .col-xs-12 -->
  </div><!-- /.row -->
  <hr>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    </div>
  </div>
</div>
