// Place all the styles related to the PAGES controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home_page_form{
  width: 50%;
  margin: 0 auto;
}

// Robotic's Page Styling
.info-column{
  padding: 20px 10px 10px 10px;
  border-right: 1px solid gray;
}

.robotics_header{
  background: url("robotics.png") no-repeat center;
  text-align: center;

  h1{
    font-size: 6em;
  }

  h4{
    padding: 5px 0 5px 0;
    color: black;
    text-shadow:1px 1px 0px #333333;
  }
}

.chaulky{
  opacity:0.6;
  background: white;
}
